{% extends 'base.html.twig' %}

{% block body %}
    <h1>home page</h1>
    <p>
        welcome to my website . this is a php symfony 4 website . this is made as part of a college module.

    </p>

    <a href="{{ url('chocolate_index') }}">index</a>
    <a href="{{ url('chocolate_new') }}">new</a>

{% endblock %}

