{% extends 'base.html.twig' %}

{% block body %}
    <h1>home page</h1>
    <p>
        welcome to my website . this is a php symfony 4 website . this is made as part of a college module.

    </p>
<ul>
  <li><a href="{{ url('chocolate_index') }}">index</a> </li>
    <li> <a href="{{ url('chocolate_new') }}"> chocolate new</a></li>
    <li><a href="{{ url('review_new') }}">review new</a></li>
  <li>  <a href="{{ url('review_index') }}">review show</a></li>
</ul>


{% endblock %}

