{% extends 'base.html.twig' %}

{% block title %}New Chocolate{% endblock %}

{% block body %}

    <h1>Create new Chocolate</h1>

    {% include 'chocolate/_form.html.twig' with {'form': form} only %}

{% endblock %}